

.create-room-title h1 {
  font-family: 'gemunu-extrabold';
  margin-top: 50px;
  font-size: 45px;
  /* text-align: center; */
}

.create-room {
  position: absolute;
  top: 176px;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.create-room label{
  font-family: 'gemunu-extrabold';
  font-size: 32px;
  display: inline-block;
}


.create-form {
  margin-top: 20px;
  display: inline-block;
  width: 1000px;
  text-align: left;
}

.room-describtion {
  margin-top: 20px;
}
.room-describtion label{
  font-size: 21px;
}

.topic-input {
  width: 50%;
  padding: 10px;
  margin-left: 20px;
  font-size: 14px;
}

.tag-input {
  width: 20%;
  padding: 10px;
  margin-left: 28px;
  font-size: 14px;
}

.create-form div {
  padding-left: 30px;
  vertical-align: middle;
  margin-bottom: 10px;
}

.describtion-input {
  padding: 20px;
  width: 80%;
  height: 200px;
  resize: none;
  margin-top: 20px;
}

.create-submit {
  text-align: center;
  margin-top: 30px;
}

.create-submit a {
  margin-top: 20px;
  border: solid #C4E7E7;
  padding: 10px;
  background-color: #C4E7E7;
  text-decoration: none;
  border-radius: 10px;
  font-family: 'gemunu-extrabold';
  font-size: 23px;
  color: black;
}

.tag-submit {
  text-decoration: none;
  color: black;
  margin-left: 10px;
  padding: 3px;
  font-size: 12px;
  border: solid #C4E7E7;
  background-color: #C4E7E7;
  border-radius: 10px;
  font-weight: bold;

}

.tag-nav {
  display: inline-block;
  width: 1000px;
  padding-left: 210px !important;
}

.tag-list {
  font-size: 12px;
  margin-left: 10px;
  text-decoration: none;
  border-radius: 10px;
  background-color: #C4C4C4;
  border: solid #C4C4C4;
  color: black;
  padding: 3px;
}